@model IEnumerable<QLCBCore.Models.BaoCao.ReportSLCLCBTheoDoTuoi>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-responsive {
        display: table;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-body" style="line-height:20px;">
                <h4 style="text-align:center; padding-bottom: 10px;">Số lượng, chất lượng cán bộ theo độ tuổi</h4>
                <h6 style="text-align:center; padding-bottom: 10px;">Tính đến hết ngày @DateTime.Now.ToString("dd/MM/yyyy")</h6>
                <div class="data-table table-responsive" id="divListUser">
                    <table class="table table-bordered table-hover table-striped-custom table-responsive gridView">
                        <thead style="text-align:center; vertical-align: middle;">
                            <tr>
                                <th rowspan="3" style="vertical-align:middle;">STT</th>
                                <th rowspan="3" style="vertical-align:middle;">Đơn vị</th>
                                <th colspan="3">Tổng số biên chế hiện có</th>
                                <th colspan="9">Chia theo độ tuổi</th>
                            </tr>
                            <tr>
                                <th rowspan="2" style="vertical-align:middle;">Tổng số</th>
                                <th rowspan="2" style="vertical-align:middle;">Nam</th>
                                <th rowspan="2" style="vertical-align:middle;">Nữ</th>
                                <th colspan="3">Nhóm tuổi từ 20 - 30</th>
                                <th colspan="3">Nhóm tuổi từ 30 - 50</th>
                                <th colspan="3">Nhóm tuổi trên 50</th>
                            </tr>
                            <tr>
                                <th>Tổng số</th>
                                <th>Nam</th>
                                <th>Nữ</th>
                                <th>Tổng số</th>
                                <th>Nam</th>
                                <th>Nữ</th>
                                <th>Tổng số</th>
                                <th>Nam</th>
                                <th>Nữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th style="text-align:center;">
                                        @(i = i + 1)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.TenDonVi)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.TongSo)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nam)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.PhuNu)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Total20den30)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nam20den30)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nu20den30)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Total30den50)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nam30den50)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nu30den50)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Totaltren50)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Namtren50)
                                    </th>
                                    <th style="text-align:right;">
                                        @Html.DisplayFor(modelItem => item.Nutren50)
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

