@model QLCBCore.Models.QTKhenThuong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QTKhenThuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanBoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanBoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucKhenThuongID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucKhenThuongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKhenThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKhenThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCaoNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCaoNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuanBanHanhQD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuanBanHanhQD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKhenThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKhenThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucKhenThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucKhenThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
