@model QLCBCore.Models.CanBo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CanBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGoiKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGoiKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanTocID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanTocID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonGiaoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonGiaoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMTND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMTND)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapCMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapCMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCapCMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCapCMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiSinhID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiSinhID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuanID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuanID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HKTT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HKTT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TDPhoThongID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TDPhoThongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucDanhKhoaHocID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucDanhKhoaHocID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgheNghiepID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgheNghiepID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoquanTuyenDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoquanTuyenDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVeCQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVeCQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucThiTuyenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucThiTuyenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KieuCanBo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KieuCanBo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHanHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHanHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongViecDuocGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongViecDuocGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTruongCongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTruongCongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayChinhThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayChinhThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXuatNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXuatNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanHamCaoNhatID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanHamCaoNhatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangThuongBinhID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangThuongBinhID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaDinhCSID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaDinhCSID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SucKhoeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SucKhoeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChieuCao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChieuCao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanNang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanNang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhomMauID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhomMauID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBHXH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBHXH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCapSoBHXH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCapSoBHXH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBHYT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBHYT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LichSuBanThan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LichSuBanThan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanXetDanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanXetDanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVuID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVuID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BacLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BacLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgachID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgachID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrinhDoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrinhDoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhHieuCaoNhatID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhHieuCaoNhatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhenThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhenThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KyLuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KyLuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThongBaoNghiHuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThongBaoNghiHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNghiHuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNghiHuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiuNgach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiuNgach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThoiViec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThoiViec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayChuyenCtac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayChuyenCtac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTuTran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTuTran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonviOldID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonviOldID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
