@model QLCBCore.Models.QuanHeGiaDinh

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QuanHeGiaDinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgheNghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgheNghiep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThongTinKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThongTinKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThongTinTCXH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThongTinTCXH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanBo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanBo.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dmQuanHeGiaDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dmQuanHeGiaDinh.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
